html{
    font-size: 62.5%;
}
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    color: black;
}


.navbar{
    height: 9rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.0125rem dotted rgb(107, 105, 105);

}

.nav_logo_border{
    display: flex;
    align-items: center;
    height: 9rem;
    width: 18rem;
    border-right:0.0125rem dotted rgb(107, 105, 105) ;
}

.logo{
    height: 4.5rem;
    width: 14rem;
    background-image: url(blinkit_logo.png);
    background-size: cover;
    
    align-self: 2rem;
}

.nav_location{
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 1.8rem;
    
   


}


.nav_searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65rem;

   
}

.nav_search{
    width: 65rem;
    height: 5rem;
    


    
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
   

}



.nav_icon{

    text-decoration: none;
    height: 5rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #f8f8f8;
    
    border-top-left-radius: 1rem;
    
    border-bottom-left-radius: 1rem;
    font-size: 2rem;
    
    
}

#search-input{
    border: none;
    outline: none; 
    background-color: #f8f8f8;
    font-size: 1.5rem;
    transition: color 0.5s;
}

#search-input::placeholder{
    transition: opacity 0.5s;
    opacity: 1;       
}
#search-input.placeholder-up::placeholder{
    opacity: 0;

}

.nav_login{
    text-decoration: none;
    font-size: 1.8rem;
    margin-left: 4rem;
    
   
}

.nav_cart{
    text-decoration: none;
    height: 5.5rem;
    width: 12rem;
    
    background-color: #0c8310;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-right: 2rem;
    
} 

.nav_cart i{
    font-size: 3rem;
    color: white;
    margin-right: .5rem;
}
.nav_cart a{
        text-decoration: none;
        font-size: 1.6rem;
        color: white;
        font-weight: 700;
}

/* HEROSECTION */

.herosection{
    
    background-image: url(heroSection.webp);
    height: 24rem;
    width: 130rem ;
    display: flex;
    justify-content: center;
    background-size: cover;
    margin-left: 11rem;
}

.container_mainbox{
    display: flex;
    justify-content: center;
}   

.main_box{
    width: 34rem;
    height: 20rem;
  
    display: inline-block;
    margin: 1rem;
    border-radius: 1rem;
   
    
}

#main_box1{
    background-image: url(https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-07/pharmacy-WEB.jpg);
    background-size: cover;
}

#main_box2{
    background-image: url(https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-07/Pet-Care_WEB.jpg);
    background-size: cover;
}
#main_box3{
    background-image: url(https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-12/Web-banner-NY-Countdown-1.png);
    background-size: cover;
}
#main_box4{
 
    background-image: url(https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-03/babycare-WEB.jpg);
    background-size: cover;
    width: 20rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}


/* Sections */

.section1{
    height: 6.5rem;
    width: 129.5rem;

    position: absolute;
    left: 8%;
    margin-top: 3rem;
}

#secName{
    font-weight: 600;
    font-size: 2.4rem;
    color: rgb(28,28,28);
}

#seeAll{
    text-decoration: none;
    color: rgb(12,131,31);
    font-size: 2rem;
    position: absolute;
    right: 1%;

}

/* ITEMBOXES */

.itemBox1{
    height:30rem ;
    width: 129.5rem;
    /* border: 2px solid black; */
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-left: 10rem;
    
    
    
 
}

.myBox1{
    height: 29rem;
    width: 18rem;
    border:0.05rem solid rgb(232,232 ,232);
    border-radius: .8rem;
    box-shadow: rgba(0,0,0,0.04) .2rem .2rem .8rem;
    background: rgb(255, 255, 255);
    
   

}

.imgBox{
    height: 14rem;
    width: 14rem;
    /* position: absolute; */
    margin-left: 2rem;
    margin-top:1rem;
    background-size: cover;
}

.imgName{
    font-size: 1.3rem;
    /* position: absolute; */
    margin-left: 1rem; 
    margin-top:1rem;
    height: 4rem;
    width: 15.5rem;
    font-weight: 600;
}

.quantity{
    height: 3rem;
    width: 15.5rem;
    /* position: absolute; */
    margin-top:1rem;
    margin-left: 1rem; 
    font-size: 1.3rem;
    color: #666666;

}

.imgPrice{
    height: 3rem;
    width: 15.5rem;
    /* position: absolute; */
    margin-top:.8rem;
    margin-left: 1rem; 
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.imgAdd{
    height: 3rem;
    width: 7rem;
    border:.1rem solid rgb(49, 134, 22);
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    color: rgb(49, 134, 22);
    
}


/* FOOTERS */

.footer_1 p{
    
    font-weight: 600;
    font-size: 1.8rem;
    
}

.footer_1{
    display: flex;
    justify-content: center;
    
}

#fPara_1{
    width: 30vw;
}

#fPara_2{
    width: 60vw;
}

#aOFP{
    text-decoration: none;
    color: rgb(12,131,31);
    font-size: 1.5rem;

}

.footers{
    margin-top: 7rem;
}

.footer_2 a{
    text-decoration: none;
    color: #666666;
    font-size: 1.4rem;
}
.footer_2 {
    margin-top: 2rem;
    height: 35rem;
    display: flex;
    
}

ul a{
    display: block;
    margin-top: 1.5rem;
    margin-left: 5rem;
}

.lastFoot{
    display: flex;
    justify-content: center;
}

.footer_3{
    display: flex;
    justify-content: space-between;
    height: 8rem;
    align-items: center;
    background-color: #f3f3f3;
    width: 130rem;
}

.Fcopy{
    font-size: 1.2rem;
    color: #666666;
    margin-left: 5rem;
}

.fdown{
    font-size: 1.4rem;
    color:#666666;
    font-weight: 600;
    width: 30vw;
    display: flex;
    align-items: center;
}
.fdown i{
    font-size: 4rem;
}

.socailMEd{
    width: 20vw;
}
.socailMEd i{
    font-size: 4rem;
}

.footer_4{
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    color: #666666;
}

.last{
    width: 130rem;
    font-size: 1.4rem;
    color: #666666;
    

}


